<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"
        integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/footer.css">
</head>

<body>
    <!-- Start Message -->
    <div class="message">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12"></div>
                <div class="col-md-4 col-sm-12 message-container p-5">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="images">
                            <img src="images/email.png" alt="Email">
                        </div>
                        <div class="two-texts">
                            <p class="first">تواصل معنا</p>
                            <p class="last">رسالتك تهمنا</p>
                        </div>
                    </div>
                    <form class="text-end mt-5 message-form">
                        <div class="mb-3">
                            <input type="text" class="form-control text-end" placeholder="الإسم">
                        </div>
                        <div class="mb-3">
                            <input type="tel" class="form-control text-end" placeholder="رقم الجوال">
                        </div>
                        <div class="mb-3">
                            <input type="email" class="form-control text-end" placeholder="البريد الإلكتروني">
                        </div>
                        <div class="form-floating">
                            <textarea class="form-control text-end" placeholder="رسالتك"
                                style="height: 100px"></textarea>
                            <label for="floatingTextarea2" class="text-end">رسالتك</label>
                        </div>
                        <div class="send">
                            <input type="submit" value="إرسال" class="message-send">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Message -->
    <!-- Start Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-12">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="social">
                            <div>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </div>
                            <div>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </div>
                            <div>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="two-texts">
                            <p class="first text-light m-0">جميع الخدمات</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 col-sm-12"></div>
                <div class="col-md-4 col-sm-12"></div>
            </div>
            <div class="row mt-5" id="contact">
                <div class="row text-end col-md-7 col-sm-12">
                    <div class="col-lg-4 col-md-6 col-sm-12 contact-item">
                        <div class="contact-icon">
                            <a href="#"><i class="fab fa-whatsapp"></i></a>
                        </div>
                        <p class="contact-name text-color-secondary">الواتساب</p>
                        <p class="contact-desc text-light">+9660500133232</p>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 contact-item">
                        <div class="contact-icon">
                            <a href="#"><i class="fas fa-phone-alt"></i></a>
                        </div>
                        <p class="contact-name text-color-secondary">الجوال</p>
                        <p class="contact-desc text-light">+9660500133232</p>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 contact-item">
                        <div class="contact-icon">
                            <a href="#"><i class="fas fa-user"></i></a>
                        </div>
                        <p class="contact-name text-color-secondary">الإسم</p>
                        <p class="contact-desc text-light">بوابة المواطن</p>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 contact-item">
                        <div class="contact-icon">
                            <a href="#"><i class="fas fa-envelope"></i></a>
                        </div>
                        <p class="contact-name text-color-secondary">البريد الالكترونى</p>
                        <p class="contact-desc text-light">بوابة المواطن</p>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 contact-item">
                        <div class="contact-icon">
                            <a href="#"><i class="fas fa-map-marker-alt"></i></a>
                        </div>
                        <p class="contact-name text-color-secondary">الموقع</p>
                        <p class="contact-desc text-light">+9660500133232</p>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 contact-item">
                        <div class="contact-icon">
                            <a href="#"><i class="fas fa-globe"></i></a>
                        </div>
                        <p class="contact-name text-color-secondary">موقع الويب</p>
                        <p class="contact-desc text-light">+9660500133232</p>
                    </div>
                </div>
                <div class="col-md-1 col-sm-12"></div>
                <div class="col-md-4 col-sm-12"></div>
            </div>
            <div class="d-flex justify-content-between align-items-center footer-ul">
                <a href="#">
                    <div class="logo-alt">
                        <img src="images/logo-alt.png" alt="Logo">
                    </div>
                </a>
                <a href="#" class="text-light text-decoration-none">بوابة المواطن</a>
                <a href="#ourServices" class="text-light text-decoration-none">خدماتنا</a>
                <a href="#" class="text-light text-decoration-none">الخدمات الالكترونية</a>
                <a href="#why" class="text-light text-decoration-none">لماذا نحن</a>
                <a href="#contact" class="text-light text-decoration-none">تواصل معنا</a>
                <a href="pages/policy.html" class="text-light text-decoration-none">الشروط و الاحكام</a>
            </div>
            <p class="text-center text-color-secondary">جميع الحقوق محفوظة &copy; 2022</p>
        </div>
    </footer>
    <!-- End Footer -->
</body>

</html>