<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"
        integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/nav.css">
</head>

<body class="bg-dark">
    <h1 class="text-center text-light">Standard Nav</h1>
    <nav class="navbar navbar-expand-lg container bg-white rounded px-4">
        <a class="navbar-brand d-lg-none" href="#"><img src="../images/logo.png"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul
                class="navbar-nav mx-auto w-100 justify-content-evenly align-items-sm-start align-items-lg-center text-center">
                <li style="flex: 3;" class="nav-item dropdown-center order-md-0 order-sm-2">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                        aria-expanded="false">
                        <i class="fas fa-user text-color-secondary fs-5"></i>
                    </a>
                    <ul class="dropdown-menu py-3 px-4 m-3 text-center">
                        <li><a class="dropdown-item text-color-primary text-font-semibold" href="#">تسجيل الدخول</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item text-color-secondary text-font-semibold" href="#">تسجيل جديد</a>
                        </li>
                    </ul>
                </li>
                <li style="flex: 3;" class="nav-item">
                    <a class="nav-link" href="#">تواصل معنا</a>
                </li>
                <li style="flex: 3;" class="nav-item">
                    <a class="nav-link" href="#">لماذا نحن</a>
                </li>
                <li style="flex: 3;" class="nav-item">
                    <a class="nav-link" href="#">عملائنا</a>
                </li>
                <a class="d-none d-lg-block" href="#" style="flex: 5;"><img src="../images/logo.png"></a>
                <li style="flex: 4;" class="nav-item">
                    <a class="nav-link" href="#">الخدمات الالكترونية</a>
                </li>
                <li style="flex: 4;" class="nav-item">
                    <a class="nav-link" href="#">خدماتنا</a>
                </li>
                <li style="flex: 4;" class="nav-item">
                    <a class="nav-link text-font-bold text-color-secondary" href="#">بوابة المواطن</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="py-5"></div>
    <h1 class="text-center text-light">Dark Nav</h1>
    <h3 class="text-center text-light">Add class navbar-light to the tag nav</h3>
    <nav class="navbar navbar-light navbar-expand-lg navbar-light container bg-white rounded px-4">
        <a class="navbar-brand d-lg-none" href="../index.html"><img src="../images/logo-nav-light.png"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul
                class="navbar-nav mx-auto w-100 justify-content-evenly align-items-sm-start align-items-lg-center text-center">
                <li style="flex: 3;" class="nav-item dropdown-center order-md-0 order-sm-2">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                        aria-expanded="false">
                        <i class="fas fa-user text-color-secondary fs-5"></i>
                    </a>
                    <ul class="dropdown-menu py-3 px-4 m-3 text-center">
                        <li><a class="dropdown-item text-color-primary text-font-semibold" href="#">تسجيل الدخول</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item text-color-secondary text-font-semibold" href="#">تسجيل جديد</a>
                        </li>
                    </ul>
                </li>
                <li style="flex: 3;" class="nav-item">
                    <a class="nav-link" href="../index.html#contact">تواصل معنا</a>
                </li>
                <li style="flex: 3;" class="nav-item">
                    <a class="nav-link" href="../index.html#why">لماذا نحن</a>
                </li>
                <li style="flex: 3;" class="nav-item">
                    <a class="nav-link" href="../index.html#ourClients">عملائنا</a>
                </li>
                <a class="d-none d-lg-block" href="../index.html" style="flex: 5;"><img
                        src="../images/logo-nav-light.png"></a>
                <li style="flex: 4;" class="nav-item">
                    <a class="nav-link" href="#">الخدمات الالكترونية</a>
                </li>
                <li style="flex: 4;" class="nav-item">
                    <a class="nav-link" href="../index.html#ourServices">خدماتنا</a>
                </li>
                <li style="flex: 4;" class="nav-item">
                    <a class="nav-link text-font-bold text-color-secondary" href="#">بوابة المواطن</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="py-5"></div>
    <h1 class="text-center text-light">Dark Nav When Logged In</h1>
    <nav class="navbar navbar-expand-lg navbar-light container bg-white rounded px-4">
        <a class="navbar-brand d-lg-none" href="../"><img src="../images/logo.png"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul
                class="navbar-nav mx-auto w-100 justify-content-evenly align-items-sm-start align-items-lg-center text-center">
                <li style="flex: 3;" class="nav-item dropdown-center order-md-0 order-sm-2">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                        aria-expanded="false">
                        <div class="user d-flex gap-1 align-items-center justify-content-center">
                            <p class="user-name m-0">محمد أحمد</p>
                            <div class="image">
                                <img src="../images/avatar.png" alt="Avatar">
                            </div>
                        </div>
                    </a>
                    <ul class="dropdown-menu py-3 px-4 m-3 text-center">
                        <li><a class="dropdown-item text-color-primary text-font-semibold" href="#">الملف الشخصي</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item text-danger text-font-semibold" href="#">تسجيل خروج</a>
                        </li>
                    </ul>
                </li>
                <li style="flex: 3;" class="nav-item">
                    <a class="nav-link" href="../index.html#contact">تواصل معنا</a>
                </li>
                <li style="flex: 3;" class="nav-item">
                    <a class="nav-link" href="../index.html#why">لماذا نحن</a>
                </li>
                <li style="flex: 3;" class="nav-item">
                    <a class="nav-link" href="../index.html#ourClients">عملائنا</a>
                </li>
                <a class="d-none d-lg-block" href="../" style="flex: 5;"><img src="../images/logo.png"></a>
                <li style="flex: 4;" class="nav-item">
                    <a class="nav-link" href="#">الخدمات الالكترونية</a>
                </li>
                <li style="flex: 4;" class="nav-item">
                    <a class="nav-link" href="../index.html#ourServices">خدماتنا</a>
                </li>
                <li style="flex: 4;" class="nav-item">
                    <a class="nav-link text-font-bold text-color-secondary" href="#">بوابة المواطن</a>
                </li>
            </ul>
        </div>
    </nav>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
</body>

</html>